body {
    background-image: url(images/background.jpg);
    width: 100%;
}
.keys {
    margin: 32% 600px;

}
.key {
    background-image: url(images/piano2.gif);
    color: red;
    background-repeat: no-repeat;
    font-size: 1.6rem;
    padding: 4em .7em;
    display: inline;
    font-weight: bold;
    transition: all 2.0s;
   

}
.playing {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 10px red;
}
