body {
    background-image: url(images/background.jpg);
    width: 100%;
}
.keys {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;


}
.key {
    font-size: 1.6rem;
    font-weight: bold;
    width: 150px;
    height: 150px;
    border: 3px solid gray;
    margin-right: 40px;
    padding: 20px;
    align-self: center;
    justify-self: center;
    transition: all 0.07s;
}

kbd {
    text-align: center;
    vertical-align: middle;
}
.playing {
    transform: scale(1.1);
    border: 5px solid red;
}
